<!DOCTYPE html>
<html>
  <head>
    <title>Super-Heroic Flix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= link_to image_tag("logo"), root_path %>
      <ul>
        <li>
          <%= link_to 'All Movies', movies_path %>
        </li>
      </ul>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>
        Copyright &copy; 2005-<%= Time.now.year %>
        <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %>
      </p>
    </footer>
  </body>
</html>
